.addmenu-box{
	width: 500px;
	margin: 0 auto;
	padding: 10px 0;
	.el-form{
		.el-select{
			width: 100%;
		}
		.upload-demo{
			border: 1px solid #bfcbd9;
			padding-top: 20px;
			padding-bottom: 5px;
			border-radius: 4px;
		}
	}
}