
img{
	width: 200px;
	height: 200px; 
	float: left; 
	padding: 5px; 
	
}
.backstage-content{
	padding: 0 15px;
}
.menu-box{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	.el-card{
		&:hover{
			background: #ddd;
			cursor: pointer;
		}
		margin: 5px;
		.pro-name{
			font-size: 14px;
			line-height: 36px;
			font-weight: 600;
			color: #666;
		}
		.pro-price{
			color: #ff1a3a;
		    font-size: 14px;
		    font-weight: bold;
		    margin: 10px 0 3px 0;
		}
	}
}
.search-box{
	width: 50%;
	padding-left: 10px;
	margin-top: 15px;
}
.edit-box{
	.edit-header{
		background: #dff0d8;
		height: 36px;
		line-height: 36px;
		font-weight: 600;
	}
	position: absolute;
	background: #d1dbe5;
	width: 300px;
	top: 0;
	left: 0;
}