
.cook{height:100%;
	
	h1{position:relative;line-height:70px;position:fixed;width:100%;background:#fff;border-bottom:1px solid #eee}
	>button{ border:0;cursor:pointer;outline:none;background:#EEF1F6;margin-top:70px;

		display:block;float:left;width:50%;height:8%;font-size:25px;font-weight:bold;letter-spacing:5px}
	.butactive{background:#19AA8D;color:#fff;transition:0.5s}
}