.cookmess{
	z-index:100;
	.icon-youxiang{font-size:50px;}
	dl{position:absolute;right: 54px;top: 0px; cursor:pointer}
	dd{	position:absolute;    left: -13px;
    top: 12px;
		font-size:16px;line-height:20px;width:20px;height:20px;border-radius:50%;border:1px solid red;background:red;color:#fff
	}
	

	

		.tanc{position:fixed;z-index:10;width:70%;left:0;top:0;right:0;bottom:0;margin:auto;height:80%;padding:50px 0;
				overflow:auto;border:1px solid #eee;box-shadow: 5px 5px 10px #999;
			h3{border-bottom:1px solid #eee;line-height:50px;position:absolute;top:0;width:100%;
				background:#fff;
			.icon-shanchu{font-size:40px;position:absolute;right:20px}
			.icon-shanchu:hover{color:#F86934;transition:0.5s;cursor:pointer}
			}

	.messread{font-weight:normal;height:100%;
		font-size:20px;background:#fff;
		
		p:nth-of-type(1){padding:10px;}
		p>span{background:#F86934;color:#fff;margin-bottom:5px;margin-left:5px;padding:3px;border-radius:3px;float:left}
		
		.beizhu{text-align:left;color:#FF0099}
		.beizhu>span{background:#FF0099;margin-left:15px;}
		.beizhu>b{font-weight:bold;margin-left:10px;line-height:30px;}
		li{border-bottom:1px dashed #999;line-height:20px;}

		
		}

		.yes{position:absolute;bottom:0;width:100%;

			b{	cursor:pointer;
				display:block;margin:auto;line-height:50px;font-size:30px;letter-spacing:5px;font-weight:bold;background:#37AF19;
				color:#fff;
			}
			}

		}
}