#home{height: 100%;background:url(../../assets/images/bg8.jpg) no-repeat;
background-size:100% 100% }
#header{height: 10%; }
#footer{height: 10%; }
#container{
	height: 80%; 
	
	ul{
		padding-top:100px;
		li{
			
			padding: 20px 0;
			font-size:28px;
			letter-spacing:5px;
			&:hover{
				color:red
			}

		}
	}
}