
	.client{
		height: 100%;
	}
	#order{
		width: 250px;
		height:100%;
		background:#675048;	
		position: relative;
		color:white;
	}
	h2{padding:10px 0;}
	.logo,.message{
		background: #504033;
	}
	.logo{
		height:100px;
		background:url('../../assets/images/logo.jpg') no-repeat;
		background-size:100% 100%;
	}
	#goodslist .goodsBox{
		width: 100%;
		border-collapse: collapse;
		tbody{
			overflow:auto;
		}
		tr{
			display:flex;
			justify-content: space-between;
			padding:0;
			th{
				background:none;
				
			}
			td{
				padding:0;
				align-self:center;
			}
		}
		.btnPlus,.btnSub{
			display:inline-block;
			padding:10px;
			text-align:center;
			float:right;

		}
	}
	.message{
		width: 100%;
		position: absolute;
		left: 0;
		bottom:0;
		p{
			padding:10px;
			height: 60px;
			position: relative;
			.total{
				position: absolute;
				left: 20px;top: 15px;
				.red{
					color:red;
					font-size:20px;
				}
			}
			.btnSure{
				position: absolute;
				right:35px;top: 0;
				width: 60px;height: 60px;border-radius: 50% ;
				background: #FA6C44;border:2px solid yellow;
				color: white;font-size:18px;
				}
		}
	}
	.remark{
		border:none;
		margin-top:10px;
		height: 20px;

	}
	
